<a href="https://colab.research.google.com/github/RemiJolian/My_Test_Files/blob/master/python_review.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

use %d

In [ ]:
a = 23
# a = int(23)
print('I am %d years old' % (a))

I am 23 years old

In [ ]:
name = 'Keivan'
age = 19
height = 1.81121121
print('%s is %d years old. His height is %.2f m.' % (name, age, height))

Keivan is 19 years old. His height is 1.81 m.

In [ ]:
a,b = input().split()
a = int(a)
b = int(b)
print (a,b)

3 5
3 5

get some inputs

In [ ]:
a,b,c,d = map(int, input().split())
print(a,b,c,d)

3 2 2 7
3 2 2 7

In [ ]:
print(2 * 3 + 4 % 2 + 3 / 2)
print(1+2**3*5)
print(1//2*2)

7.5
41
0

In [ ]:
a = 1 + 2
b = 5.0 - 3
print('a =', a, 'b =', b)
c = a * 2
d = c / 2
e = c // 2
print('a =', a, 'c =', c, 'd =', d, 'e =', e)
f = a ** b
print('f = ', f)
s = t = '12'
print('s + t =', s + t, 's * 3 =', s * 3, '4 * t =', 4 * t)

ASCII code of Parameters

In [ ]:
ch = 'c'
print(ord(ch))
print(chr(77))

99
M

In [ ]:
alpha = input()
ch1 = ord(alpha)
print('character order is :', ch1-96)

g
character order is : 7

In [ ]:
a = float(input())
print(int(a))

3.0
3

In [ ]:
import math
x = float(input())
g = math.floor(x)
print(g)

3.2
3

In [ ]:
a = int(input()) 
print(int((a != 0) == (not not a)))

87
1

In [ ]:
num1 = int(input())
num2 = int(input())
c = 0
sum = 2 * (num1 + num2)
mul = 0
mul = num1 * num2
print(sum, mul)

4
7
22 28

input three numbers 'a', 'b' and 'c'
then output 'max' as their maximum
------------------------------------
1. max <- a
2. max <- (b + max + |b - max|) / 2
3. max <- (c + max + |c - max|) / 2
4. output max

In [ ]:
print(max(3,5,1,8))

8

In [ ]:
m1, m2, m3, m4, m5, m6 = input().split()
print(1-int(m1), 1-int(m2),2-int(m3), 2-int(m4), 2-int(m5),8 -int(m6))

5 5 6 9 8 7
-4 -4 -4 -7 -6 1

In [ ]:
shah, vazir, rokh, fil, asb, sarbaz = map(int, input().split())
print( 1 - shah, 1 - vazir, 2 - rokh, 2 - fil, 2 - asb, 8 - sarbaz )

2 5 3 6 9 8
-1 -4 -1 -4 -7 0

bishtarin taqsim ba n khat dar zamin moraba shekl

In [ ]:
n = int(input())
if n % 2 == 0:
  k = (n//2 + 1) ** 2
  print (k)
else:
  k = (n//2) + 1
  print(k * (k+1))

9
30

In [ ]:
n=input()
n=int(n)
k=n//2+1
m=n//2+n%2+1
print(k*m)

9
30

In [ ]:
roads = int(input())
max_of_pieces = ((roads / 2) + 1) ** 2 
print(int(max_of_pieces))

1
2

In [ ]:
print((5/2+1)**2)

12.25

In [ ]:

num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())

s = num1 + num2 + num3 + num4
ave = s/4
mul = num1 * num2 * num3 * num4
max_nums = max(num1, num2, num3, num4)
min_nums = min(num1, num2, num3, num4)

print(s)
print(ave)
print(mul)
print(max_nums)
print(min_nums)

5
6
8
9
28
7.0
2160
9
5

exam some data with desimal regit

In [ ]:
num1 = int(input())
num2 = int(input())
num3 = int(input())
num4 = int(input())

s = num1 + num2 + num3 + num4
ave = s/4
mul = num1 * num2 * num3 * num4
max_nums = max(num1, num2, num3, num4)
min_nums = min(num1, num2, num3, num4)

print('Sum : %.6f  ' % s)
print('Average : %.6f ' % ave)
print('Product : %.6f' % mul)
print('Max : %6f ' % max_nums)
print('Min : %6f ' % min_nums)

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

sum = (a + b + c + d)
avg = (a + b + c + d) / 4
pro = (a * b * c * d)
max = max(a, b, c, d)
min = min(a, b, c, d)

print('Sum : %.6f' % (sum))
print('Average : %.6f' % (avg))
print('Product : %.6f' % (pro))
print('Max : %.6f' % (max))
print('Min : %.6f' % (min))

In [ ]:
num = 9

# Method 1:
print("{:0>6d}".format(num))

# Method 2:
print(f"{num:02d}")

000009
09

In [ ]:
print(abs(-3))

3

mr bagher and mr.khoshqalb and clock and mirror problem

In [ ]:
a , b = input().split()
a = int(a)
b = int(b)
if a == 0:
    hh = 0
else:
    hh = 12 - int(a)
if b == 0:
    mm = 0
else:
    mm = 60 - int(b)
print(f"{hh:02d}:{mm:02d}")

0 0
00:00

In [ ]:
hour, minute = map(int,input().split())
hour = 12 - hour
minute = 60 - minute 
if hour == 12 :
	hour = 0
if minute == 60:
	minute = 0
print('%02d:%02d'%(hour,minute))

In [ ]:
time = str(input()).split(' ')
reversed_hour = time[0]
reversed_min = time[1]

correct_hour = (12 - int(reversed_hour)) % 12
correct_min = (60 - int(reversed_min)) % 60

print(f"{correct_hour:02d}:{correct_min:02d}")

5 5
07:55

best answer:

In [ ]:
a, b = input().split()
a = int(a)
b = int(b)
print("%02d:%02d" % ((12 - a) % 12, (60 - b) % 60))

sort of 3 num:

In [ ]:
a, b , c = 6,6,5
if a > b :
    a , b = b , a
if b > c :
    b , c = c , b
if a > b :
    a , b = b , a
print(a , b , c)

compare 2 num:

In [ ]:
a = int(input())
b = int(input())
if a > b :
    print("first one")
elif a <b :
    print("second one")
else:
    print("equal")

7
7
equal

"pass" syntax, means nothing to do:

In [ ]:
a = int(input())
if 0 <= a <10:
    pass
else:
    print("hoora")

22
hoora

or:

In [ ]:
a = int(input())
if not 0 <= a <10:
    print("hoora")

In [ ]:
t = int(input())

if t > 100:
    print('Stream')
elif 0 <= t <=100:
    print('Water')
else:
    print('Ice')

OR , and , ... conditions:

In [ ]:
if True and False:
    print("1")
if True or False:
    print("2")
if True or (True and False) :
    print("3")
if False and (True or False) :
    print("4")

In [ ]:
a = True
b = False
print(a and b)
print(a or b)
print(not b)

In [ ]:
a = 1
b = 3
print(b and a)

1

In [ ]:
A = int(input())
B = int(input())
C = int(input())

if A%2 == 0 or (B%2 == 0 and C%2 == 0):
    print('good')
else:
    prinr('bad')

2
3
4
good

In [ ]:
a = 475
a1 = a // 100          # 4
a2 = (a % 100) // 10   # 7
a3 = (a % 100) % 10    # 5

x = a3*100 + a2*10 + a1
print(a1,a2,a3,x)

4 7 5 574

In [ ]:
a = int(input())
b = int(input())

a1 = a // 100          
a2 = (a % 100) // 10   
a3 = (a % 100) % 10    
x = a3*100 + a2*10 + a1
# print(x)

b1 = b // 100          
b2 = (b % 100) // 10   
b3 = (b % 100) % 10    
y = b3*100 + b2*10 + b1
# print(y)


if x > y:
    print(b , '<', a)
elif y > x:
    print(a, '<', b)
else:
    Print(a ,'=', b)

214
654
214 < 654

In [ ]:
a = int(input())
b = int(input())
rev_a = a//100 + ((a//10)%10) * 10 + (a%10)* 100
rev_b = b//100 + ((b//10)%10) * 10 + (b%10)* 100
if rev_a < rev_b:
    print(a,'<',b)
elif rev_a > rev_b:
    print(b,'<',a)
else:
    print(a,'=',b)

calculate 4th corner of rectangle:

In [ ]:
x1 , y1 = map(int,input().split())
x2 , y2 = map(int,input().split())
x3 , y3 = map(int,input().split())

if (x1 != x2) and (x1 != x3):
    x4 = x1
elif (x2 != x1) and (x2 != x3):
    x4 = x2
else:
    x4 = x3
if (y1 != y2) and (y1 != y3):
    y4 = y1
elif (y2 != y1) and (y2 != y3):
    y4 = y2
else:
    y4 = y3
print(x4,y4)

max of 4 num:

In [ ]:
a = int(input())
b = int(input())
c = int(input())
d = int(input())

#print(max(a,b,c,d))

if a >= b and a >= c and a >= d:
    print(a)
elif b >= a and b >= c and b >= d:
    print(b)
elif c >= a and c >= b and c >= d:
    print(c)
else:
    print(d)

3
3
2
2
3

Liteh & Fiteh:

In [ ]:
a, b, c, d, e = input()

R = 0
G = 0
Y = 0

if a == 'G':
    G = G + 1
elif a == 'Y':
    Y = Y + 1
elif a == 'R':
    R = R + 1
# -------------------------------
if b == 'G':
    G = G + 1
elif b == 'Y':
    Y = Y + 1
elif b == 'R':
    R = R + 1
# -------------------------------
if d == 'G':
    G = G + 1
elif d == 'Y':
    Y = Y + 1
elif d == 'R':
    R = R + 1
#--------------------------------
if c == 'G':
    G = G + 1
elif c == 'Y':
    Y = Y + 1
elif c == 'R':
    R = R + 1
#--------------------------------
if e == 'G':
    G = G + 1
elif e == 'Y':
    Y = Y + 1
elif e == 'R':
    R = R + 1
#---------------------------------
#---------------------------------
if R >= 3 or (R >= 2 and Y >= 2) or Y == 5 or G == 0:
    print('nakhor lite')
else:
    print('rahat baash')
print (R,Y,G)

uuuuu
nakhor lite
0 0 0